<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="offlinepaymentscontrol" translate="label" type="text" sortOrder="901" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Offline Payments Control</label>
            <tab>magemaclean</tab>
            <resource>MageMaclean_OfflinePaymentsControl::configuration</resource>
            <group id="checkout" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Frontend Checkout</label>
                <field id="methods_disabled" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Disable Methods</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>

            <group id="adminhtml" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Adminhtml Order</label>
                <field id="methods_disabled" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Disable Methods</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>

            <group id="invoice" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Invoice Options</label>
                <field id="can_authorize" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Can Authorize</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="can_capture" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Can Capture</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="can_capture_partial" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Can Capture Partial</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="can_refund" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Can Refund</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="can_refund_partial" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Can Refund Partial</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="can_void" translate="label" type="multiselect" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Can Void</label>
                    <source_model>MageMaclean\OfflinePaymentsControl\Model\Config\Source\Payment\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>